body{
    text-align:center;
    background-image:linear-gradient(red.blue,purple)
    }
#one,#two,#three,#four,#five,#six{
    height: 300px;
    width: 300px;
}
.first{
    width: 700px;
}
#mycarousel img{
    width:50px;
    margin-top;35px;
}
.carousel-inner{
    margin-bottom: 15px;
    margin-top: 15px;
    color: blueviolet;
}